<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/meta.ejs %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <% include ../partials/nav-home.ejs %>


  <!-- Image Background Page Header -->
  <!-- Note: The background image is set within the business-casual.css file. -->
  <header class="business-header">
      <div class="container">
      </div>
  </header>

  <!-- Page Content -->
  <div class="container">

      <hr>

      <div class="row">
          <div class="col-sm-8">
              <h2>About</h2>
              <p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
          </div>
          <div class="col-sm-4">
              <h2>Contact</h2>
              <address>
                  <strong>CafeAcademica</strong>
                  <br>40000 Fremont Blvd
                  <br>Fremont, CA 94538
                  <br>
              </address>
              <address>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                  <br>
                  <abbr title="Email">E:</abbr><a href="mailto:#"> name@example.com</a>
              </address>
          </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Footer -->
      <footer>
        <% include ../partials/footer.ejs %>
      </footer>

  </div>
  <!-- /.container -->
</body>

</html>
