<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/meta.ejs %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <% include ../partials/nav-home.ejs %>
  <!-- Half Page Image Background Carousel Header -->
  <header id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for Slides -->
      <div class="carousel-inner">
          <div class="item active">
              <!-- Set the first background image using inline CSS below. -->
              <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
              <div class="carousel-caption">
                  <h2>Personalized learning</h2>
              </div>
          </div>
          <div class="item">
              <!-- Set the second background image using inline CSS below. -->
              <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
              <div class="carousel-caption">
                  <h2>Proven results</h2>
              </div>
          </div>
          <div class="item">
              <!-- Set the third background image using inline CSS below. -->
              <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
              <div class="carousel-caption">
                  <h2>Expert knowledge</h2>
              </div>
          </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
      </a>

  </header>
  <!-- Page Content -->
  <div class="container">

      <hr>

      <div class="row">
          <div class="col-sm-8">
              <h2>What We Do</h2>
              <p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
              <p>
                  <a class="btn btn-default btn-lg" href="#">Sign up &raquo;</a>
              </p>
          </div>
          <div class="col-sm-4">
              <h2>Contact</h2>
              <address>
                  <strong>CafeAcademica</strong>
                  <br>40000 Fremont Blvd
                  <br>Fremont, CA 94538
                  <br>
              </address>
              <address>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                  <br>
                  <abbr title="Email">E:</abbr><a href="mailto:#"> name@example.com</a>
              </address>
          </div>
      </div>
      <!-- /.row -->

      <hr>

      <div class="row">
          <div class="col-sm-4">
              <h2>AP Chemistry</h2>
              <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
          </div>
          <div class="col-sm-4">
              <h2>SAT II Chemistry</h2>
              <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          </div>
          <div class="col-sm-4">
              <h2>High school</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Footer -->
      <footer>
        <% include ../partials/footer.ejs %>
      </footer>

  </div>
  <!-- /.container -->
</body>

</html>
